html,
body {
  height: 100%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #44a340;
  font-size: 14px;
}

a:hover {
  color: #fff;
  background: #44a340;
  text-decoration: none;
}

#nprogress .bar {
  background: #44a340;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

@media only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi),
  only screen and (min-resolution: 2dppx) {
  a:hover {
    color: #44a340;
    background: none;
  }
}
