.list {
  max-width: 650px;
  margin: auto;
  padding: 0 10px 50px 10px;
}

.list ul:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}

.navbar {
  color: #666;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 25px 50px;
}

.list-post {
  padding: 0 5px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  overflow: hidden;
}

.list-post:hover {
  background: #f6f6f6;
}

.list-post span {
  color: #999;
  text-align: right;
}

.list-label {
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #b7eb8f;
  padding: 0 7px;
  margin-left: 8px;
}

.list-post .date-long {
  display: inline-block;
  float: right;
}

.list-post a {
  text-decoration: none;
}

@media only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi),
  only screen and (min-resolution: 2dppx) {
  .list-post:hover {
    background: none;
  }
}
